Options -Indexes

# CACHE FOR TWO HOURS

<ifModule header.c>
Header set Cache-Control "max-age=7200, must-revalidate"
</ifModule>

RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule  ^/?([^?]+)?$  ../proxy.php [NC,QSA,L]